<div class="mainComponent3">
<h1>Know more about your Name:</h1>
<div class = "inputCls">
    <input type="text" id="nameInput" placeholder="Enter Your Name" (keyup) = "knowNameDetails()" style="height: 22px;width:200px"/> 
</div>
<div class = "nameDetailsDiv">
    <span id = "nameLength" class="nameDetails">Length of your name:</span>
    <span id = "nameLengthDetails"></span>
</div>
<div class = "nameDetailsDiv">
    <span id = "nameAscOrder" class="nameDetails">Alphabetical order of your name:</span>
    <span id = "nameAscOrderDetails"></span>
</div>
<div class = "nameDetailsDiv">
    <span id = "nameReverseOrder" class="nameDetails">Reverse alphabetical order of your name:</span>
    <span id = "nameReverseOrderDetails"></span>
</div>
<div class = "nameDetailsDiv">
    <span id = "nameVowels" class="nameDetails">Vowels in your name:</span>
    <span id = "nameVowelsDetails"></span>
</div>
<div class = "nameDetailsDiv">
    <span id = "nameConsonents" class="nameDetails">Consonants in your name:</span>
    <span id = "nameConsonentsDetails"></span>
</div>
<div class = "nameDetailsDiv">
    <span id = "nameNonRepeated" class="nameDetails">All the letters in your name excluding repetition:</span>
    <span id = "nameNonRepeatedDetails"></span>
</div>
<div class = "nameDetailsDiv">
    <span id = "nameRepeated" class="nameDetails">Repeated letters in your name:</span>
    <span id = "nameRepeatedDetails"></span>
</div>
<div class ="lastDiv">

</div>
</div>